@page
@model webgu.showflightsModel
@{
    ViewData["Title"] = "showflights";
}

@{
    List<ServiceReference1.Flight> flights;
    flights = Model.GetFlights();

}
<div class="text-center">
    <div class="display-flights">
        <table>
            <tr>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>FLight ID</th>
            </tr>
            <tr>
                @foreach (var flight in flights)
                {
                    <th>@flight.DepartureLocation</th>
                    <th>@flight.Destination</th>
                    <th>@flight.DepartureTime</th>
                    <th>@flight.ArrivalTime</th>
                    <th>@flight.FlightNo</th>
                    <th><input type="radio" name="submit" value="flight" />Select Flight</th>
                }
            </tr>
        </table>
        <div class="next-button">
            <button>Select Seat</button>
        </div>
        @{ 
            var number = Request.Form["submit"];
        }
        <p>@number</p>
    </div>
</div>